.medals__team {
  .medals__team__gold {
    height: 295px;
    text-align: center;
    h3 {
      color: white;
      font-size: 16px;
      margin: 0;
      padding: 20px 0;
      text-transform: uppercase;
    }
    .team__gold {
      @include outer-container;
      margin-top: 10px;
      .team__gold__medal {
        @include span-columns(4);
      }
      .team__gold__team-flag-name {
        @include span-columns(4);
        p {
          color: white;
          font-weight: 300;
          font-size: 30px;
          margin: 0;
          padding-top: 20px;
        }
      }
      .team__gold__score {
        @include span-columns(4);
        padding: 56px 0;
        h1 {
          margin: 0;
          .count,
          .points {
            color: white;
          }
          .count {
            font-size: 50px;
            font-weight: 700;
          }
          .points {
            font-weight: 300;
          }
        }
      }
    }
  }
  .medals__team__other {
    padding-top: 20px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        border-bottom: 1px solid $medal-silver;
        padding: 10px 0;
        @include outer-container;
        .team__medal {
          @include span-columns(1);
          text-align: center;
          padding: 18px 0;
          span {
            border-radius: 50%;
            font-size: 22px;
            font-weight: 700;
            padding: 2px 7px;
          }
        }
        &:first-child {
          .team__medal span {
            border: 2px solid $medal-silver;
            color: $medal-silver;
          }
        }
        &:nth-child(2) {
          .team__medal span {
            border: 2px solid $medal-bronze;
            color: $medal-bronze;
            padding-left: 8px;
          }
        }
        .team__flag-name {
          @include span-columns(9);
          img {
            display: inline-block;
            position: relative;
            top: 5px;
            width: 40px;
          }
          p {
            display: inline-block;
            padding-left: 10px;
          }
        }
        .team__score {
          @include span-columns(2);
          padding: 14px 0;
          text-align: center;
          .count {
            font-size: 26px;
            font-weight: 700;
          }
          .points {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.medals__athletes {
  @include outer-container;
  margin-top: 60px;
  .team__row {
    @include row;
    &:nth-child(2) {
      margin-top: 60px;
    }
  }
  .team__athletes {
    @include span-columns(4);
    .team__flag-name {
      text-align: center;
      img {
        width: 120px;
      }
      h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
      }
    }
    .athletes__single {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include row;
        border-bottom: 1px solid $medal-silver;
        padding: 10px 0;
        .althlete__photo-name {
          @include span-columns(4 of 6);
          .photo {
            display: inline-block;
            img {
              border-radius: 50%;
              display: block;
              width: 50px;
            }
          }
          .name-event {
            display: inline-block;
            position: relative;
            top: -6px;
            padding-left: 10px;
            .name {
              font-weight: 700;
              margin: 0;
            }
            .event {
              margin: 0;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
        }
        .athlete__score {
          @include span-columns(2 of 6);
          padding: 11px 0;
          text-align: center;
          .count {
            font-weight: 700;
            font-size: 28px;
          }
          .points {
            font-size: 13px;
          }
        }
      }
    }
  }
}