$blue: #1482C6;
$gold: #FAB041;
$black: #000000;
$green: #18A554;
$red: #E91F45;

$medal-gold: #D9A441;
$medal-silver: #A8A8A8;
$medal-bronze: #965A38;

p, a, li, span, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p, a, li, span {
  font-size: 18px;
}

.branding {
  text-align: center;
  padding-top: 1px;
  ul li {
    display: inline-block;
    color: $medal-silver;
  }
}

.rainbow {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsl(203, 82%, 43%) 20%,
    hsl(36, 95%, 62%) 20%,
    hsl(36, 95%, 62%) 40%,
    hsl(0, 0%, 0%) 40%,
    hsl(0, 0%, 0%) 60%,
    hsl(146, 75%, 37%) 60%,
    hsl(146, 75%, 37%) 80%,
    hsl(349, 82%, 52%) 80%);
  -webkit-background-size: 100% 5px;
  -moz-background-size: 100% 5px;
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

footer {
  background-color: black;
  height: 140px;
  margin-top: 60px;
  width: 100%;
  .footer__container {
    @include outer-container;
  }
  .text {
    @include span-columns(9);
    p {
      color: white;
      margin: 0;
      &:first-child {
        padding: 45px 0 10px 0;
      }
    }
  }
  .logo {
    @include span-columns(3);
    text-align: center;
    padding: 40px 0;
    img {
      width: 100px;
    }
  }
}