html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@media screen and (max-width: 1200px) {
  .medals__team__other,
  .medals__athletes,
  .footer__container {
    padding-left: 15px;
    padding-right: 15px; } }
p, a, li, span, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p, a, li, span {
  font-size: 18px; }

.branding {
  text-align: center;
  padding-top: 1px; }
  .branding ul {
    padding: 0; }
    .branding ul li {
      display: inline-block;
      color: #A8A8A8; }
      .branding ul li:first-child, .branding ul li:last-child {
        position: relative;
        top: -13px; }

.rainbow {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #1483c8 20%, #fab142 20%, #fab142 40%, black 40%, black 60%, #18a555 60%, #18a555 80%, #e92045 80%);
  -webkit-background-size: 100% 5px;
  -moz-background-size: 100% 5px;
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position-y: bottom; }

footer {
  background-color: black;
  height: 140px;
  margin-top: 60px;
  width: 100%; }
  footer .footer__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    footer .footer__container::after {
      clear: both;
      content: "";
      display: block; }
  footer .text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    footer .text:last-child {
      margin-right: 0; }
    footer .text p {
      color: white;
      margin: 0; }
      footer .text p:first-child {
        padding: 45px 0 10px 0; }
    @media screen and (max-width: 600px) {
      footer .text p {
        font-size: 14px; } }
  footer .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center;
    padding: 40px 0; }
    footer .logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      footer .logo {
        padding: 55px 0; }
        footer .logo img {
          width: 50px; } }

.medals__team .medals__team__gold {
  height: 295px;
  text-align: center; }
  .medals__team .medals__team__gold h3 {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase; }
  .medals__team .medals__team__gold .team__gold {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px; }
    .medals__team .medals__team__gold .team__gold::after {
      clear: both;
      content: "";
      display: block; }
    .medals__team .medals__team__gold .team__gold .team__gold__medal {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .medals__team .medals__team__gold .team__gold .team__gold__medal:last-child {
        margin-right: 0; }
      @media screen and (max-width: 600px) {
        .medals__team .medals__team__gold .team__gold .team__gold__medal img {
          padding-top: 12px;
          width: 60px; } }
    .medals__team .medals__team__gold .team__gold .team__gold__team-flag-name {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .medals__team .medals__team__gold .team__gold .team__gold__team-flag-name:last-child {
        margin-right: 0; }
      @media screen and (max-width: 600px) {
        .medals__team .medals__team__gold .team__gold .team__gold__team-flag-name img {
          width: 100px; } }
      .medals__team .medals__team__gold .team__gold .team__gold__team-flag-name p {
        color: white;
        font-weight: 300;
        font-size: 30px;
        margin: 0;
        padding-top: 20px; }
    .medals__team .medals__team__gold .team__gold .team__gold__score {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding: 30px 0; }
      .medals__team .medals__team__gold .team__gold .team__gold__score:last-child {
        margin-right: 0; }
      .medals__team .medals__team__gold .team__gold .team__gold__score h1 {
        margin: 0; }
        .medals__team .medals__team__gold .team__gold .team__gold__score h1 .count,
        .medals__team .medals__team__gold .team__gold .team__gold__score h1 .points {
          color: white; }
        .medals__team .medals__team__gold .team__gold .team__gold__score h1 .count {
          font-size: 50px;
          font-weight: 700; }
          @media screen and (max-width: 600px) {
            .medals__team .medals__team__gold .team__gold .team__gold__score h1 .count {
              font-size: 40px; } }
        .medals__team .medals__team__gold .team__gold .team__gold__score h1 .points {
          font-weight: 300; }
.medals__team .medals__team__other {
  padding-top: 20px; }
  .medals__team .medals__team__other ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .medals__team .medals__team__other ul li {
      border-bottom: 1px solid #A8A8A8;
      padding: 10px 0;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      .medals__team .medals__team__other ul li::after {
        clear: both;
        content: "";
        display: block; }
      .medals__team .medals__team__other ul li .team__medal {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        text-align: center;
        padding: 18px 0; }
        .medals__team .medals__team__other ul li .team__medal:last-child {
          margin-right: 0; }
        .medals__team .medals__team__other ul li .team__medal span {
          border-radius: 50%;
          font-size: 22px;
          font-weight: 700;
          padding: 2px 7px; }
      .medals__team .medals__team__other ul li:first-child .team__medal span {
        border: 2px solid #A8A8A8;
        color: #A8A8A8; }
      .medals__team .medals__team__other ul li:nth-child(2) .team__medal span {
        border: 2px solid #965A38;
        color: #965A38;
        padding-left: 8px; }
      .medals__team .medals__team__other ul li .team__flag-name {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .medals__team .medals__team__other ul li .team__flag-name:last-child {
          margin-right: 0; }
        .medals__team .medals__team__other ul li .team__flag-name img {
          display: inline-block;
          position: relative;
          top: 5px;
          width: 40px; }
        .medals__team .medals__team__other ul li .team__flag-name p {
          display: inline-block;
          padding-left: 10px; }
      .medals__team .medals__team__other ul li .team__score {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        padding: 14px 0;
        text-align: center; }
        .medals__team .medals__team__other ul li .team__score:last-child {
          margin-right: 0; }
        .medals__team .medals__team__other ul li .team__score .count {
          font-size: 26px;
          font-weight: 700; }
        .medals__team .medals__team__other ul li .team__score .points {
          font-size: 14px; }

.medals__athletes {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  .medals__athletes::after {
    clear: both;
    content: "";
    display: block; }
  .medals__athletes .team__athletes {
    margin-top: 30px; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .medals__athletes .team__athletes {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .medals__athletes .team__athletes:last-child {
          margin-right: 0; }
        .medals__athletes .team__athletes:nth-child(2n) {
          margin-right: 0; }
        .medals__athletes .team__athletes:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 1200px) {
      .medals__athletes .team__athletes {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .medals__athletes .team__athletes:last-child {
          margin-right: 0; }
        .medals__athletes .team__athletes:nth-child(3n) {
          margin-right: 0; }
        .medals__athletes .team__athletes:nth-child(3n+1) {
          clear: left; } }
    .medals__athletes .team__athletes .team__flag-name {
      text-align: center; }
      .medals__athletes .team__athletes .team__flag-name img {
        width: 120px; }
      .medals__athletes .team__athletes .team__flag-name h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px; }
    .medals__athletes .team__athletes .athletes__single {
      list-style: none;
      margin: 0;
      padding: 0; }
      .medals__athletes .team__athletes .athletes__single li {
        display: block;
        border-bottom: 1px solid #A8A8A8;
        padding: 10px 0; }
        .medals__athletes .team__athletes .athletes__single li::after {
          clear: both;
          content: "";
          display: block; }
        .medals__athletes .team__athletes .athletes__single li .althlete__photo-name {
          float: left;
          display: block;
          margin-right: 4.82916%;
          width: 65.05695%; }
          .medals__athletes .team__athletes .athletes__single li .althlete__photo-name:last-child {
            margin-right: 0; }
          .medals__athletes .team__athletes .athletes__single li .althlete__photo-name .photo {
            display: inline-block; }
            .medals__athletes .team__athletes .athletes__single li .althlete__photo-name .photo img {
              border-radius: 50%;
              display: block;
              width: 50px; }
          .medals__athletes .team__athletes .athletes__single li .althlete__photo-name .name-event {
            display: inline-block;
            position: relative;
            top: -6px;
            padding-left: 10px; }
            .medals__athletes .team__athletes .athletes__single li .althlete__photo-name .name-event .name {
              font-weight: 700;
              margin: 0; }
            .medals__athletes .team__athletes .athletes__single li .althlete__photo-name .name-event .event {
              margin: 0;
              text-transform: uppercase;
              font-size: 14px; }
        .medals__athletes .team__athletes .athletes__single li .athlete__score {
          float: left;
          display: block;
          margin-right: 4.82916%;
          width: 30.11389%;
          padding: 11px 0;
          text-align: center; }
          .medals__athletes .team__athletes .athletes__single li .athlete__score:last-child {
            margin-right: 0; }
          .medals__athletes .team__athletes .athletes__single li .athlete__score .count {
            font-weight: 700;
            font-size: 28px; }
          .medals__athletes .team__athletes .athletes__single li .athlete__score .points {
            font-size: 13px; }

/*# sourceMappingURL=styles.css.map */
